/* .product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .product-details-card {
    max-width: 800px;
    width: 100%;
  }
  
  .product-details-card img {
    object-fit: contain;
  }
   */